user: Username
account_picture: files/Picture.jpg
dotfiles_dir: '/Users/{{ user }}/'
gitconfig_name: John Doe
gitconfig_email: john@ansible.com
osx_lock_screen_text: Found Me? Stole Me? Return me Back!\n ..
osx_dock_tile_px: 42
osx_hostname: Macbook
terminal_theme: Flat

homebrew_apps:
    - git
    - brew-cask
    - htop-osx
    - ssh-copy-id
    - git-flow
    - git-ftp
    - boot2docker
    - docker-compose

cask_apps:
  - sublime-text3
  - vagrant
  - virtualbox
  - google-chrome
  - firefox
  - sequel-pro
  - slack
  - vlc
  - java7
  - dropbox-experimental
  - gas-mask
  - transmit
  - osxfuse

vagrant_plugins:
  - vagrant-vbguest
  - vagrant-cachier
  - vagrant-hostsupdater
  - vagrant-triggers
